button {
	border: none;
	background-color: lightblue;
	padding: 0.5em 1em;
	margin: 0.5em;
	border-radius: 4px;
	cursor: pointer;
}

.button--large {
	font-size: 1.25em;
}

button:active {
	opacity: 0.8;
}
